.header {
    margin-bottom: 100px;
}

.about-us-hero {
    text-align: center;
    padding-top: 25px;
}

.about-us-nav ul {
    list-style-type: none;
    padding: 0;
    border-left: 2px solid #E9E9E9;
}

.about-us-nav li {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    margin-bottom: 16px;
}

.about-us-nav li a {
    color: #777777;
}

.about-us-nav li:hover {
    background-color: #F3F3F3;
}

.about-us-nav li:active, .about-us-nav li:focus {
    background-color: #fff;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #0286FA;
    font-weight: bold;
    border-left: 4px solid #0286FA;

}

.about-us-nav li a:active {
    color: #0286FA;

}

.about-agency {
    margin-bottom: 64px;
}

.about-agency h2 {
    padding-bottom: 8px;
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: #1E1F56;
}

.about-agency-wrapper {
    margin-bottom: 50px;
}

.about-agency p {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #444444;
}

.main-tasks h2 {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: #1E1F56;
    margin-bottom: 48px;
}

.main-tasks-wrapper .digits {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #0487FC;
    background-color: rgba(4, 135, 252, 0.1);
    padding: 5 24px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 14px;
}

.main-tasks-wrapper h3 {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #1E1F56;
}

.main-tasks-wrapper p {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #444444;
}

.upper-main-tasks {
    margin-bottom: 30px;
}

.lower-main-tasks {
    margin-bottom: 64px;
}

.kamalak {
    margin-bottom: 64px;
}

.kamalak-wrapper {
    padding: 48px 32px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.kamalak-wrapper p {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
}

.structure {
    margin-bottom: 60px;
}

.structure h2 {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: #1E1F56;
    margin-bottom: 48px;
}

.structure img {
    width: 100%;
}

.administration h2 {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: #1E1F56;
    margin-bottom: 38px;
}

.administration-wrapper {
    background-color: #142134;
    border-radius: 20px;
    position: relative;
    min-height: 390px;
    margin-bottom: 48px;
}

.administration-wrapper img {
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 45;
}

.admin-circle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.administration-wrapper h3 {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #FBFBFB;

}

.administration-wrapper h4 {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FBFBFB;
    padding-bottom: 64px;

}

.administration-wrapper p {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    padding-bottom: 12px;
}

.administration-wrapper div {
    padding-left: 351px;
    padding-top: 90px;
}

.vice-presidents {
    margin-bottom: 64px;
}

.vice-presidents img {
    display: inline-block;
    width: 100%;
}

.vice-wrapper h4 {
    padding-top: 38px;
    padding-bottom: 8px;

    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.vice-wrapper p {
    padding-bottom: 8px;
}

.vice-text {
    margin-bottom: 8px;
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.vice-bold-text {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.administration button {
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #0188FF;
    border: none;
    border-radius: 10px;
    padding: 18px 54px;
    margin-left: 280px;
    margin-bottom: 64px;
}